.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.demo {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
}

.withoutHooks {
  background-color: #0091cd;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

.withHooks {
  background-color: #bf033b;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
}

.title {
  font-weight: bolder;
  padding-bottom: 20px;
}

.toggleHooks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
